@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  margin:0;
  padding: 0;
  box-sizing: border-box;  
  height: 750px; 
  background-color:rgb(255, 240, 243); 
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210131/pngtree-light-gray-silk-halo-background-image_552646.jpg); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed; 
  background-size: cover;
}

.App{
    display:grid;
    justify-content: center; 
    grid-template-columns: 23% 35%;
    grid-template-rows: 300px 300px;
    margin-top:20px;
  }
  
  .content1{
    background-color:rgb(10, 13, 40);
    height:1283px;
    font-family:Roboto,Arial, sans-serif ;
    /* margin-top: 0px; */
  }
  
  .content2{
    background-color: rgb(255, 255, 255);
    height:1280px;
    font-family:Roboto,Arial, sans-serif ;
    border-style:groove;
    /* margin-top: 6px;  */
    
  }
  
  @media (max-width: 700px){
    .App{
      grid-template-columns: minmax(400px , 1fr);
      display:block; 
      justify-content: center;
      text-align: center;
    }
    .btn{
      justify-items: center;
    }
  }
  
  .btn{ 
      background-color:#3d83df; 
      color: #fff; 
      padding: 10px 20px;  
      border: none; 
      border-radius: 10px;
      cursor: pointer; 
      font-size: 10px;
      font-family: Roboto,Arial,sans-serif;
      margin-left: 700px;
      margin-top: 30px;
  } 
  
   .btn:hover{ 
      background-color: rgb(63, 63, 242);
      transition: .7s;
   } 


